* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: left;
    width: 25%;
}

#game-board {
    float: left;
    position: relative;
    width: 450px;
    height: 450px;
}

.board-tile {
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
}

.board-tile:hover {
    background-color: lightgray;
}

.marble {
    border: 1px solid black;
}

.board-tile:hover .marble {
    transform: scale(1.2, 1.2);
    left: 10px;
    top: 10px;
    /* TODO: Skalowalność tego względem Settings */
}

.board-tile[selected] {
    background-color: darkgray;
}